body {
  margin: 0;
  font-family: 'Be Vietnam Pro', Arial, sans-serif;
}

header {
  padding: 40px;
  background-color: #eee;
}
.header.is-pinned {
  background-color: yellow;
}

.container {
  position: relative;
}

section {
  display: flex;
  min-height: 100vh; /* Each section takes at least the viewport height */
  align-items: start;
  border-top: 1px solid #ccc;
}
.image {
  flex: 1;
  order: 2;
  position: sticky;
  top: 0;
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background: pink;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #333;
  /* background-size: contain; */
  background-repeat: no-repeat;
  /* border: 1px solid red; */
}
.map-fit .img {
  background-size: contain;
}
.map-zoomed .img {
  background-size: auto;
}

#img-1940 {
  /* background-image: url('../img/1940-test.jpg'); */
  background-image: url('../img/1940.jpg');
}
#img-1966 {
    /* background-image: url('../img/1966-test.jpg'); */
    background-image: url('../img/1966.jpg');
}
#img-1966b {
  /* background-image: url('../img/1966b-test.jpg'); */
  background-image: url('../img/1966b.jpg');
}
#img-1981 {
    /* background-image: url('../img/1981-test.jpg'); */
    background-image: url('../img/1981.jpg');
}

.hidden {
  display: none;
}

.section-header {
  position: sticky;
  z-index: 100;
  top: -1px;
  margin-left: -40px;
  margin-right: -40px;
  padding: 32px 40px;
  border-bottom: 1px solid #ccc;
  background-color: white;
  /* transition: padding 0.1s ease; */
}
.section-header.is-pinned {
  padding: 12px 40px;
}
.section-title {
  margin: 0;
}
.section-subtitle {
  margin: 0 0 0 0;
  /* font-style: italic; */
  font-size: 16px;
  color: #999;
}

.buttons {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}
.btn {
  position: relative;
  padding: 6px 12px;
  height: 40px;
  background-color: #eee;
  border: 1px solid #666;
  border-radius: 4px;
  font-size: 16px;
}
.btn:hover {
  background-color: ddd;
  border-color: #000;
  cursor: pointer;
}
.btn:active {
  top: 1px;
}
.map-fit .btn-fit {
  display: none;
}
.map-zoomed .btn-markers {
  display: none;
}
.markers-shown .marker {
  display: block;
}

.date {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 20px;
}
.markers {
  position: absolute;
  z-index: 20;
  /* pointer-events: none; */
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  /* aspect-ratio: 2240 / 2060; */
  border: 1px solid red;
}

#section-1940-1966 .markers {
  aspect-ratio: 2240 / 2060;
}
#section-1966-1981 .markers {
  aspect-ratio: 2053 / 1975;
  border-color: cyan;
}

.map-zoomed .markers {
  aspect-ratio: auto !important;
  bottom: 0;
}

.marker {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: none;
  align-items: center;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.1); */
  border: 8px solid rgba(255, 255, 255, 0.4);
}
.marker a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: yellow; */
}
.marker .label {
  position: absolute;
  bottom: 0;
  /* max-width: 200px; */
  padding: 2px 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;;
  transform: translate(-50%, calc(100% + 8px));
}

.map-fit .marker.show {
  display: block;
}
.map-fit .marker.highlight {
  display: block;
  border-color: rgba(255, 255, 255, 0.7);
}
.map-fit .marker .label {
  display: none;
}
.map-fit .marker:hover .label {
  display: inline;
}

.marker.currentmarker {
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.map-zoomed .image:hover .marker.currentmarker {
  display: none;
  /* opacity: .2; */
}
/* .marker.currentmarker:hover {
  opacity: 1 !important;
  outline: 4px solid red;
} */

.content {
  position: relative;
  flex: 1;
  padding: 0 40px;
  max-width: 680px;
  font-size: 18px; /* 20px; */
  line-height: 1.5;
  background: #fff;
}
.feature {
  position: relative;
  padding: 0 10px;
}
.feature:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.feature:active {
  top: 1px;
}
.feature.selected {
  background-color: rgba(0, 0, 255, 0.05);
}



section:nth-child(even) {
  background: #f9f9f9;
}

section:nth-child(odd) {
  background: #e9e9e9;
}


/* Markers */

.marker-1940-66-a4 {
  left: 28.30%;
  top: 9.13%;
  width: 20.31%;
  height: 20.31%;
}
.marker-1940-66-broadway {
  left: 2.46%;
  top: 6.36%;
  width: 11.88%;
  height: 11.88%;
}
.marker-1940-66-charingx {
  left: 15.31%;
  top: 31.21%;
  width: 15.45%;
  height: 15.45%;
}
.marker-1940-66-fieldroad {
  left: 34.11%;
  top: 32.33%;
  width: 10.40%;
  height: 10.40%;
}
.marker-1940-66-lillierec {
  left: 25.67%;
  top: 56.99%;
  width: 12.05%;
  height: 12.05%;
}
.marker-1940-66-cemetery {
  left: 28.53%;
  top: 70.10%;
  width: 12.28%;
  height: 12.28%;
}
.marker-1940-66-clematlee {
  left: 56.70%;
  top: 42.91%;
  width: 20.31%;
  height: 20.31%;
}
.marker-1940-66-empress {
  left: 74.33%;
  top: 28.88%;
  width: 15.45%;
  height: 15.45%;
}
.marker-1940-66-fulhamestate {
  left: 69.24%;
  top: 70.10%;
  width: 15.45%;
  height: 15.45%;
}

.marker-1966-81-margravine {
  left: 31.22%;
  top: 0.00%;
  width: 6.38%;
  height: 6.38%;
}
.marker-1966-81-fulhamcem {
  left: 34.83%;
  top: 46.53%;
  width: 8.91%;
  height: 8.91%;
}
.marker-1966-81-bayonne {
  left: 34.05%;
  top: 15.49%;
  width: 22.16%;
  height: 22.16%;
}
.marker-1966-81-aintree {
  left: 56.21%;
  top: 38.53%;
  width: 11.06%;
  height: 11.06%;
}
.marker-1966-81-riverside {
  left: 8.13%;
  top: 51.95%;
  width: 17.92%;
  height: 17.92%;
}
.marker-1966-81-crabtree {
  left: 6.58%;
  top: 35.90%;
  width: 10.52%;
  height: 10.52%;
}
.marker-1966-81-frankbanfield {
  left: 4.77%;
  top: 0.00%;
  width: 12.96%;
  height: 12.96%;
}
.marker-1966-81-charingx {
  left: 17.10%;
  top: 1.62%;
  width: 19.97%;
  height: 19.97%;
}
.marker-1966-81-rivergardens {
  left: 12.62%;
  top: 72.76%;
  width: 8.96%;
  height: 8.96%;
}



@media (max-width: 1024px) {
  section {
    flex-direction: column;
  }
  .image {
    order: 0;
    position: relative;
    width: 100%;
    flex-basis: auto;
    overflow: hidden;
  }
  #section-1940-1966 .image {
    aspect-ratio: 2240 / 2060;
    height: auto;
  }
  #section-1966-1981 .image {
    aspect-ratio: 2053 / 1975;
    height: auto;
  }
  .section-header {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 -20px;
  }
  .section-header.is-pinned {
    padding: 12px 0;
  }
  .section-header .buttons {
    top: -50px;
  }
  .section-title {
    font-size: 20px;
  }
  .section-subtitle {
    font-size: 13px;
  }
  .content {
    padding: 0 20px;
    font-size: 16px;
  }
  .feature {
    padding: 0;
  }
}